<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <title>Criminal Identification System</title>
  </head>
  <body style="background-color: lightgrey">
    <nav class="navbar navbar-light bg-light" >
      <a class="navbar-brand" href="http://127.0.0.1:8000/home" style="color: beige;"><center style="background-color: #80808057; height: 40px; line-height: 40px; font-size: 30px;">Criminal Identification  System</center></a>
    </nav>
    <br><br>
    <center>
    <fieldset style="height: 250px; width: 500px;">
    <legend>Detected Criminal</legend>
    <table style="width: 100%;">
    <tr style="width: 100%;">
    <td style="width: 50%"><img src="{{j}}" style="float: right;"></td>
    <td style="width:50%; border-left: 3px black solid"><h1 style="color: blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{crim}}</h1></td>
  </center>
    </fieldset>
    </tr>

    </table>

    <main class="container">
      {%block content%}
      {%endblock%}
    </main>
    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  </body>
</html>