<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
	<title>Criminal Identification System</title>
	<link rel="stylesheet" href="{%static 'face/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'face/css/bootstrap.css'%}">
	<link rel="stylesheet" href="{%static 'face/css/bootstrap.theme.min.css' %}">
	<script src="js/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #e5e5ff; background-image: url('/static/face/image/images.png'); background-repeat: no-repeat; background-size: cover">
<div><br><br><br>
	<center><h1 style="color: white;font-size: 75px;font-weight: 200;background-color: #00000033"><marquee>Criminal Identification System</marquee></h1></center><br><br>
	<!-- <center><img src="{%static 'face/image/images.jpg' %}" style="position: relative;margin-top: 40px; width: 518px;"></center> -->
</div>
<center><div class="btn-group-horizontal"><br><br><br><br><br><br><br>
	<a href="#" class="btn-lg" style = "border:3px navy solid;border-radius: 50px;font-size: 35px;font-style: lighter; background-color: #fee7ffd9; color: white">Register Criminal</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#" class="btn-lg" style="border:3px navy solid;border-radius: 50px;font-size: 35px;font-style: lighter;background-color: #fee7ffd9; color: white">Detect Criminal</a>
</div></center>
</body>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>